.cardFooter {

}

.cardFooterContainer {
    padding: 10px!important;
    justify-content: space-between;

    .cardFooterDivider {
        button {
            margin-right: 10px;
        }
    }

    .cardFooterButton {
        padding: 0!important;
        color: black!important;
    }
}

.dark {
    background-color: rgba(128, 128, 128, 0.5);
}