.main {
    background-color: rgb(122, 223, 159);
    min-height: 100vh;
    padding : 60px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    margin-top: 1rem;
}

.titulo {
    
}

.contador {

}